.page {
  background-color: black;
  width: 100%;
  max-width: 1280px;
  color: white;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  position: relative;
}

@media (max-width: 599px) {
  .page {
    max-width: 320px;
  }
}

@media (min-width: 600px) and (max-width: 710px) {
  .page {
    max-width: 581px;
  }
}

@media (min-width: 712px) and (max-width: 1024px) {
  .page {
    max-width: 700px;
  }
}
