.element__like {
  width: 100%;
  max-width: 22px;
  min-height: 19px;
  background: url("../../../images/like.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  transition: opacity .3s ease-in-out;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
