@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/root/_scroll/root_scroll.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__user-set/profile__user-set.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__photo/element__photo.css);
@import url(./blocks/element/__sign/element__sign.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__likes-amount/element__likes-amount.css);
@import url(./blocks/element/__likes-amount/element__likes-amount_active/element__likes-amount_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__input/_edit-form/popup__input_edit-form_name.css);
@import url(./blocks/popup/__input/_edit-form/popup__input_edit-form_job.css);
@import url(./blocks/popup/_active/popup_active.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__btn/popup__btn.css);
@import url(./blocks/popup/__btn/_disabled/popup__btn_disabled.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__input/_add-form/popup__input_add-form_placename.css);
@import url(./blocks/popup/__input/_add-form/popup__input_add-form_link.css);
@import url(./blocks/popup/_place/popup_place_img.css);
@import url(./blocks/popup/__content-img/popup__content-img.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__img-sign/popup__img-sign.css);
