.header {
  max-width: 880px;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 0 auto;
  padding-top: 45px;
}

@media (max-width: 599px) {
  .header {
    padding-top: 28px;
  }
}
